In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C://Users//mvish//Downloads//Salary_Data (1).csv")
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
features=df.drop(["Salary"],axis="columns")
features

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
target=df["Salary"]
target

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [5]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(features,target,test_size=0.2)

In [8]:
len(x_train)

24

In [9]:
len(x_test)

6

In [10]:
len(y_train)

24

In [11]:
len(y_test)

6

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
clf=LinearRegression()

In [14]:
clf.fit(x_train,y_train)

LinearRegression()

In [15]:
clf.predict([[1.1]])

C:\Users\mvish\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([36334.54502056])

In [16]:
df=pd.read_csv("C://Users//mvish//Desktop//delivery_time.csv")
df

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [17]:
features_new=df.drop(["Sorting Time"],axis="columns")
features_new

    Delivery Time
0           21.00
1           13.50
2           19.75
3           24.00
4           29.00
5           15.35
6           19.00
7            9.50
8           17.90
9           18.75
10          19.83
11          10.75
12          16.68
13          11.50
14          12.03
15          14.88
16          13.75
17          18.11
18           8.00
19          17.83
20          21.50

In [19]:
target_new=df["Sorting Time"]
target_new

0     10
1      4
2      6
3      9
4     10
5      6
6      7
7      3
8     10
9      9
10     8
11     4
12     7
13     3
14     3
15     4
16     6
17     7
18     2
19     7
20     5
Name: Sorting Time, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(features_new,target_new,test_size=0.2)

In [27]:
x_train

    Delivery Time
18           8.00
16          13.75
20          21.50
1           13.50
13          11.50
6           19.00
2           19.75
0           21.00
14          12.03
5           15.35
7            9.50
3           24.00
15          14.88
4           29.00
19          17.83
17          18.11

In [28]:
len(x_train)

16

In [29]:
len(y_train)

16

In [30]:
len(x_test)

5

In [31]:
x_test

    Delivery Time
9           18.75
8           17.90
10          19.83
11          10.75
12          16.68

In [32]:
from sklearn.linear_model import LinearRegression

In [35]:
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [36]:
reg.predict([[4]])

C:\Users\mvish\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.65863045])